# dependencies
node_modules/

# build artifacts
dist/
out/
build/

# Electron
*.app
*.exe
*.AppImage
*.dmg

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets
.env
.env.*
!.env.example
.env.secrets
infra/mosquitto/passwd
infra/mosquitto/.passwords.txt

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp
*.swo

# tests / coverage
coverage/
.nyc_output/

# local data
*.sqlite
*.sqlite-journal
*.db
*.db-shm
*.db-wal
